<!DOCTYPE html>
<html>
  <head>
    <title>CounterStrike Coaching Staff</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        padding: 20px;
      }
      .navbar-nav .nav-link {
        padding: 0.5rem 1rem;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4">CS:GO Game State Analyzer</h1>
      <nav class="navbar navbar-expand-lg navbar-light bg-light mt-4">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload.upload_parquet') }}"
              >Upload Parquet File</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload.upload_radar') }}"
              >Upload Radar Image</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="{{ url_for('game_state.game_state_processing') }}"
              >Game State Processing</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
          </li>
        </ul>
      </nav>
      {% if message %}
      <p class="mt-4" style="color: green">{{ message }}</p>
      {% endif %} {% if error %}
      <p class="mt-4" style="color: red">{{ error }}</p>
      {% endif %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
